################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
**/bin/
**/obj/
/.dotnet-home/
/.nuget/
/artifacts/
